{% extends 'studentpac/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<div class="row align-items-center mb-5">
	<div class="col-md-7">
		<h1 class="display-4 fw-bold mb-3">Welcome to the PAC Support Hub</h1>
		<p class="lead">Our system is designed to support students and Personal Academic Coaches (PACs) with easy access to information and resources.</p>
		<a href="{% url 'pac_view' %}" class="btn btn-primary btn-lg mt-3">View PACs</a>
		<a href="{% url 'student_view' %}" class="btn btn-outline-secondary btn-lg mt-3 ms-2">View Students</a>
	</div>
	</div>


<div class="row mt-4 mb-5">
	<div class="col-md-4 text-center">
		<img src="{% static 'images/teacher.jpg' %}" class="img-thumbnail mb-2" alt="PAC Team">
		<h5>Personal Academic Coaches</h5>
		<p>Meet the dedicated PACs who support our students' academic journey.</p>
	</div>
	<div class="col-md-4 text-center">
		<img src="{% static 'images/students.jpg' %}" class="img-thumbnail mb-2" alt="Students">
		<h5>Our Students</h5>
		<p>Explore student profiles, achievements, and academic progress.</p>
	</div>
	<div class="col-md-4 text-center">
		<img src="{% static 'images/campus.jpg' %}" class="img-thumbnail mb-2" alt="Campus">
		<h5>Campus Life</h5>
		<p>Discover the vibrant campus life and facilities available to our students.</p>
	</div>
</div>
{% endblock %}