{% extends 'studentpac/base.html' %}

{% block title %}PAC Table{% endblock %}

{% block content %}
<h1>PAC Table</h1>
<a href="{% url 'add_pac' %}" class="btn btn-primary mb-3">Add PAC</a>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Course</th>
        <th>Date of Birth</th>
    </tr>
    </thead>
    <tbody>
    {% for pac in pacs %}
    <tr>
        <td>{{ pac.PacID }}</td>
        <td>{{ pac.FirstName }}</td>
        <td>{{ pac.LastName }}</td>
        <td>{{ pac.Email }}</td>
        <td>{{ pac.Course }}</td>
        <td>{{ pac.DOB }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}